<h2>Edit <%= @category.title  %> </h2>

<div class="edit-form">
  <%= render "form"  %>
</div>

<%= link_to "Back", category_path  %>
<%= link_to 'Delete!', category_path(@category), method: :delete, class: 'delete' %>
