<h2><%= @category.title %> </h2>

<body class = "category_show">
<!-- Need <ul> wrapper around your <li>'s -->
<li> <a href="/categories/">(go back)</a> </li>
<li> <a href="/comment/new">Reply to post</a> </li>
<li> <a href="/categories/<%= @category.id %>/edit">(edit category)</a></li>


<div class="category_link_wrapper">
  <% 5.times do |category| %>
       <div class="category_link">

       </div>

</div>

<% end %>
