<h2><%= @category.title %> </h2>

<body class = "category_show">

<li> <a href="/categories/">(go back)</a> </li>
<li> <a href="/comment/new">Reply to post</a> </li>
<li> <a href="/categories/<%= @category.id %>/edit">(edit category)</a></li>
