<h2>Vehicles Index <a href="/vehicles/new">(add a new one)</a> </h2>

<ul>
  <% @vehicles.each do |vehicle| %>
    <img src = "<%= vehicle.img_url%>" alt = "<%= vehicle.name%>">
    <a href="/vehicles/<%= vehicle.id %>">
        <%= vehicle.name %>
      </a>
  <% end %>
</ul>
