<div class="title_box_container">
  <div class="title_box">
    <h2>Welcome to Wheeled Rider!!!</h2>
    <h3> A forum for enthusiasts of ALL vehicles on wheels <h3>
    <h5> <a href="/vehicles/new">(click here if there's a vehicle you want, but dont see)</a> </h5>
    <!-- Probably doesn't need to be h5, just bold or something -->
  </div>
</div>

<body background = "https://i.pinimg.com/originals/9f/32/5a/9f325a4a82e07083f703de79893a2b28.jpg">
<!-- You shouldn't be using body, that tag should only be used once in your app, and it should be in your layout page.  Also, put the background property in css -->
<div id = "vehicle_image_wrapper">
  <% @vehicles.each do |vehicle| %>
    <div class="vehicle_image_container">
      <a href="/vehicles/<%= vehicle.id %>">
        <img class = "vehicle_image" src = "<%= vehicle.img_url%>" alt = "<%= vehicle.name%>" class = "vehicle_image">
      </a>
    </div>
  <% end %>
</div>
