<h2><%= @vehicle.name %> <a href="/vehicles/<%= @vehicle.id %>/edit">(edit)</a></h2>
<img src = "<%= @vehicle.img_url %>" alt = "picture of vehicle">

<a href = "/vehicles/"> See list of vehicles </a>
</br>
<a href = "/categories/"> See all categories </a>
