<body id = "vehicle_show">
<!-- Use a div instead of body -->
<h3> <%= @vehicle.name %> </h3>
<h5><a class="vehicle_show_edit_link" href="/vehicles/<%= @vehicle.id %>/edit">Edit page</a> </h5>

<div class= "button_wrapper">

  <a class = "button" href = "/categories/"> See all categories </a>
  <a class = "button" href = "/categories/new"> Make a NEW category </a>
  <a class=  "button" href = "/vehicles/"> Home </a>
</div>

</br>
</br>
</br>
<!-- Instead of multiple line breaks, change margins instead -->
<div class="category_link_wrapper">
  <% @categories.each do |category| %>

   <a class="category_link_text" href="/categories/<%= category.id %>">
       <div class="category_link"> <!-- might not need a nested div here -->
         <%= category.title %>
       </div>
    </a>

</div>

<% end %>
